*{
	padding:0;
	margin:0;
	font-family: "Manrope", sans-serif;
}

.short-description{
	text-transform: uppercase;
	color: #5C8692;
	font-weight: lighter;
	font-size: 15px;
	letter-spacing: 1.5px;
}
.main-title{
	font-size: 55px;
	font-family: Montserrat;
	font-weight: lighter;
	letter-spacing: 0.66px;
}
.main-description{
	font-size: 19px;
	color: #555555;
	line-height: 30.4px;
}



/*header*/
header{
	height: 105px;
	background-color: #fff;
	display: flex;
	padding: 0 50px;
	justify-content: space-between;
}

.header-logo, .header-phone, .header-navbar{
	display: flex;
	align-items: center;
}
.header-logo img{
	margin-right: 10px;
}

.header-phone{
	margin-left: 30px;
}

.header-navbar ul{
	display: flex;
	list-style-type: none;
	align-items: center;
}

.header-navbar ul li{
	margin-left: 30px;
}

.header-navbar__contact-us{
	display: flex;
	margin-left: 50px;
	align-items: center;
}
.header-navbar__reservation{
	display: flex;
	align-items: center;
	background-color: #5C8692;
	margin-left:30px;
	padding: 20px 35px;
}
.header-navbar__reservation-link{
	color: #fff;
	text-transform: uppercase;
	font-size: 13px;
	text-decoration: none;
	margin-left:10px;
}

.header-navbar__reservation:hover{
	background-color: #456972;
}


/*preview-block*/
.preview-block{
	height: 785px;
	background-color: #EBF3F5;
	display:grid;
	grid-template-columns: 1.5fr 1fr;
	padding:100px 120px 0 120px;
}

.preview-block__description{
	margin-top:80px;
	margin-right:30%;
}
.preview-block__description *{
	margin-top:25px;
}

.preview-block__description a{
	text-decoration: none;
	color:#fff;
	background-color: #5C8692;
	display: inline-block;
	padding:20px 40px;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: lighter;
}
.preview-block__description a:hover{
	background-color: #456972;
}

.preview-block__image{
	background-color: #EBF3F5;
	border: 10px solid #5C8692;
	height: 605px;
	width: 560px;

}

.preview-block__image img{
	position: relative;
	height: 575px;
	width: 580px;
	right: 10%;
	top: 15px;
}

/*favours-block*/
.favours-block{
	height: 660px;
	display: grid;
	grid-template-columns: repeat(3, 382px);
	margin-top: 100px;
	justify-content: center;
	column-gap: 30px;
}
.favours-block div *{
	margin-top:20px;
}
.favours-block h2{
	font-family: Montserrat;
	font-weight: lighter;
	font-size: 26px;
}
.favours-block p{
	color:#555555;
	width: 80%;
	letter-spacing: 0.36px;
	line-height: 30.6px;
}

.favours-block a{
	display: inline-block;
	text-decoration: none;
	color:#141414;
	text-transform: uppercase;
	font-size: 13px;
	border: 2px solid #5C8692;
	padding: 15px 30px;
}

.favours-block a:hover{
	background-color: #5C8692;
	color:#fff;
}

/*benefits-block*/

.benefits-block{
	height: 745px;
	background-color: #EBF3F5;
	display:grid;
	grid-template-columns: 1.3fr 1fr;
	padding:100px 120px 0 120px;
}
.benefits-block *{
	margin-top:20px;
}
.benefits-block__description{
	margin-right: 20%;
}
.benefits-block__cards{
	display: flex;
}
.benefits-block__cards div{
	border:2px solid #1E2C30;
	height: 185px;
	width: 188px;
	display: grid;
	justify-items: center;
	background-color: #fff;
	margin-right: 10px;
}
.benefits-block__cards div p{
	color:#141414;
	font-family: Montserrat;
	font-size: 22px;
	text-align: center;
	width: 70%;
}

.benefits-block__image{
	background: url("images/benefits-background-image.png") no-repeat;
}
.benefits-block__image img{
	position:relative;
	left:10%;
	bottom:30px;
}